#draggable-zone {
	background: #000 url(../images/space.jpg) 0 0 no-repeat;
	border:     3px solid #000;
	height:     500px;
	margin:     2em auto;
	overflow:   hidden;
	width:      600px;
}
	
.ui-wrapper { overflow:   visible !important; }
	
.ui-resizable-handle {
	background:    #f5dc58;
	border:        1px solid #FFF;
	z-index:    2;
}
	
.rotatable-handle {
	background:    #f5dc58;
	border:        1px solid #FFF;
	border-radius: 5px;
  -moz-border-radius:    5px;
  -o-border-radius:      5px;
  -webkit-border-radius: 5px;
	cursor:        pointer;
	height:        10px;
	width:         10px;
	left:          50%;
	margin:        0 0 0 -5px;
	position:      absolute;
	top:           -5px;
}

.ui-resizable-handle { 
  width: 10px;
  height: 10px;
}
	
.rotatable-autohide .rotatable-handle { display: none; }
.rotatable-handle.ui-draggable-dragging { display: none; }
